:root{
    --background-color: #E5E5E5;
    --red: #E7010B;
    --black: #3D3D3D
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: var(--background-color);
    font-family: Roboto, sans-serif, serif;
    display: flex;
    justify-content: center;
}

.principal-logo{
    position: absolute;
    flex-wrap: wrap;
    width: 347px;
    height: 466.97px;
    left: 50%;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    position: absolute;
    background: url(/img/logo.png) no-repeat;
    background-size: cover;
    width: 270px;
    height: 120px;
    left: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.fonte-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 85px;
    left: 592px;
    margin-top: 250px;
}

h3{
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.btn-logo{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
}

.btn-logo button{
    width: 347px;
    height: 33.8px;
    background: var(--red);
    color: #ffff;
    outline: none;
    border-color: transparent;
    border-radius: 10px;
    font-style: normal;
    font-size: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.img-fundo{
    position: absolute;
    background: url(/img/movie-theater.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.entrar-principal{
    position: absolute;
    flex-wrap: wrap;
    width: 347px;
    height: 466.97px;
    left: 40%;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-cinema{
    position: absolute;
    background: url(/img/Logo\ cinema.png) ;
    background-size: cover;
    width: 466px;
    height: 198px;
    top: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-entrar{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    top: 224px;
    text-align: center;
}

.btn-entrar button{
    width: 347px;
    height: 33.8px;
    background: var(--red);
    color: #ffff;
    outline: none;
    border-color: transparent;
    border-radius: 10px;
    font-style: normal;
    font-size: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-entrar button img{
    float: left;
    margin-left: 20px;
    
}

.entrar-principal .entrar-gizu{
    text-decoration: none;
    font-size: 24px;
    color: #ffff;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.entrar-principal p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffff;
    top: 400px;
}

.entrar-principal a{
    color: #ffff;
}


.principal-login{
    position: absolute;
    flex-wrap: wrap;
    width: 347px;
    height: 466.97px;
    left: 35%;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-login{
    background: url(/img/Logo\ cinema.png) no-repeat;
    width: 152.88px;
    height: 59.07px;
    background-size: contain;
}

.titulo-login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}    

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--black);
}

.div-login{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.input-login{
    width: 467.14px;
    height: 49.68px;
    background-color: #d4cccc;
    border-radius: 10px;
    border: transparent;
    outline: none;
    padding: 10px;
    color: var(--black);
}

.texto-login{
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    display: flex;
    
}

.btn-login{
    width: 467.14px;
    height: 78.38px;
    background: var(--red);
    color: #ffff;
    border: transparent;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

